<div class="container">
  <h1>Todo List</h1>

  <%= link_to 'タスクを追加する', new_todo_path, class: 'new-task' %>

  <table>
    <thead>
      <tr>
        <th>タスク</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td>
          <button><%= link_to '編集', edit_todo_path(todo) %></button>
          <%# <%= link_to '削除', todo, method: :delete, data: { confirm: '本当に削除していいですか?' } %>
          <%= button_to '削除', todo, method: :delete, data: { confirm: '本当に削除していいですか?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

